<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Trade+Winds|Anton|Orbitron|Quantico|Geo' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "textRoar" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <h1><a href ="/"><sup id="text">Text</sup><span id ="roar">Roar</span></a></h1>
      <ul id="nav">
        <li><a href ="/surveys">my surveys</a></li>
        <li><a href ="/surveys/new">create a survey</a></li>
        <li><a href ="/results">see results</a></li>
      </ul>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>

